<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dongdongshop.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.dongdongshop.model.User">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="uname" column="uname" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="nick" column="nick" jdbcType="VARCHAR"/>
            <result property="department" column="department" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="creatTime" column="creat_time" jdbcType="TIMESTAMP"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="sex" column="sex" jdbcType="VARCHAR"/>
            <result property="post" column="post" jdbcType="VARCHAR"/>
            <result property="role" column="role" jdbcType="VARCHAR"/>
            <result property="remarks" column="remarks" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,uname,password,
        nick,department,phone,
        status,creat_time,email,
        sex,post,role,
        remarks
    </sql>
</mapper>
